@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
/*html{height:95vh}*/
body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*height: 100vh;*/
}

.App {
    display: flex;
    height: 100vh;
    /*height: auto;*/
    margin-left: 5%;
    margin-right: 5%;
    /*align-items: stretch;*/
    flex-direction: column;
    /*flex :1 1 0;*/
    /*position: relative;*/
    /*display: flex;*/
    /*height: 100vh;*/
    /*max-width: 95%;*/
    /*max-height: 100%;*/
    /*margin: auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
}
.test{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: 100%;

}

.characters {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    /*background-color: red;*/
}

.App button {
    height: 3vh;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    color: darkgray;
    background: rgba(245, 245, 245, 1);
    border-width: 2px;
    border-color: lightgrey;
}