@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
/*html{height:95vh}*/
body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    overflow: hidden;
    /*height: 96vh;*/
}

.App {
    display: flex;
    /*height: 90vh;*/
    height: auto;

    /*align-items: stretch;*/
    flex-direction: row;
    /*flex :1 1 0;*/
    /*position: relative;*/
    /*display: flex;*/
    /*height: 100vh;*/
    /*max-width: 95%;*/
    /*max-height: 100%;*/
    /*margin: auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
}
.test{
    display: flex;
    margin-left: 3%;
    flex: 1 1;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.characters {
    display: flex;
    /*margin-left: 2%;*/
    flex-direction: column;
    flex: 1 1;
    height: 100%;
    /*background-color: red;*/
}

.topButton{
    position: relative;
    margin: .7% .7% 0 .7%;
    height: 26px;
    /*background: lightgrey;*/
    background: rgba(240, 240, 240, 1);
    border: solid 2px lightgrey;
}
.dropdown {
    /*left: 96.9%;*/
    /*width: 30px;*/
    cursor: pointer;
    /*background-color:  rgb(270, 270, 270);*/

    /*border-color: grey;*/
    /*border-width: 2px;*/
}

.dropdown-content {
    cursor: pointer;
    display: none;
    font-size: medium;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: gray;
    padding: 5px 9px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.meetingLen{
    display: flex;
    flex-flow: row wrap;
    font-size: medium;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: gray;
    padding: 5px 9px;
    /*display: block;*/
}

.inputMeetingLen{
    width: 50px;
    height: 20px;
    margin-left: 2px;
    background-color: rgba(200,200,200,.5);
    border: none;
    margin-right: 5px;
}
.xOutMeetingLen{
    border: none;
    cursor: pointer;
    padding: 0 1% 0 1%;
    font-size: medium;
    color: gray;
    position: absolute;
    background : none;
    right: 1%;
}

.buttonStyle {
    margin-left: 10px;
    padding: .1% .2% .1% .2%;
    position: absolute;
    right: 3%;
}