.Card{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-size: 215%;
    flex-grow: 1;
    margin-bottom: .5%;
    /*height: 20%*/
}

.name{
    padding: .3em .5em .2em .5em;
    font-weight: bold;
    background: rgba(270, 270, 270, .5) ;
}

.description {
    padding: .3em .5em .2em .5em;
    flex-grow: 1;
    /*padding-bottom: 90%;*/
    /*height: 10%;*/
}

.set-time{
    font-size: small;
    font-weight: bold;
    /*height: 50%*/
}
.timer{
    /*height: 80%*/
}

.time{
    padding: .3em .5em .2em .5em;
    text-align: right;
    /*height:100%*/
}

.Card--text {
    display: flex;
    transition-property: background-position;
    transition-timing-function: linear;
    background: linear-gradient(to left, rgba(230, 230, 230, 1) 50%, turquoise 60%) right;
    background-size: 215% ;
    flex-grow: 1;
}

.Card--reverse{
    display: flex;
    flex-grow: 1;
    transition-property: background-position;
    transition-timing-function: linear;
    background: linear-gradient(to right, turquoise 42%, magenta 60%) left;
    background-size: 250%;

}

.Card--button button {
    background: #f5f6f7;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}
